
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.LinkNav{
  text-decoration: none;
  justify-content: center;
  text-align: center;font-weight: 600;
  font-size: 1.5rem;
  margin: 10%;
  color: rgb(233, 224, 175);
}
.LinkNav:hover{
  color: gold;
  transition: all .8s ease;
  cursor: pointer;
}
.LinkNav:focus{
  color: gold;
  text-decoration: underline;
}